html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.policy {
  width: 80%;
  margin: auto;
  background-color: rebeccapurple;
  color: white;
  height: 100%;
}
